<%- include("partials/header") -%>

<body>
  <form class="" action="/<%= customerId %>/next/<%= id %>" method="post">

    <div class="container-fluid question-area">
      <h4 class="display-5 bottom-margin"> <%= question.question %></h4>
      <div class="image">

        <%  if (question.picture != null){ %>
        <img class="question-image" src="/images/questions/<%= question.picture %>.png" alt="">
        <% } %>

        <% var j = 0; %>
        <%  question.answers.forEach(function(answer){ %>
        <%  if (question.pick == j.toString()){ %>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input userChoice" id="customCheck<%=j%>" name="pick" value="<%= j %>">
          <label class="custom-control-label" for="customCheck<%=j%>"><%= answer.answer %></label>
        </div>
        <%} else {%>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck<%=j%>" name="pick" value="<%= j %>">
          <label class="custom-control-label" for="customCheck<%=j%>"><%= answer.answer %></label>
        </div>
        <%}%>
                <% j++; %>
        <%  });%>




        <!-- BUTTON SECTION -->

        <nav class="navbar fixed-bottom  navbar-custom">
          <button id="previous" class="btn btn-outline-secondary" type="submit" name="button" value="previous">praeitas</button>
          <button id="next" class="btn btn-outline-secondary" type="submit" name="button" value="next">kitas</button>
        </nav>






        <div class="container-fluid button-alignment">

          <%  for (var i = 0; i <  questionList.length ; i++){ %>

          <%  if (questionNumber == i){ %>
          <%  if (questionList[i].pick == null){ %>
          <button type="submit" class="btn btn-warning question-buttons active" name="button" value="<%= (i + 1) %>"><%= (i + 1) %></button>
          <%} else {%>
          <button type="submit" class="btn btn-success question-buttons active" name="button" value="<%= (i + 1) %>"><%= (i + 1) %></button>
          <%}%>
            <%} else { %>
          <% if (questionList[i].pick == null){ %>
          <button type="submit" class="btn btn-warning question-buttons" name="button" value="<%= (i + 1) %>"><%= (i + 1) %></button>
          <%} else {%>
          <button type="submit" class="btn btn-success question-buttons" name="button" value="<%= (i + 1) %>"><%= (i + 1) %></button>
          <%}%>
            <%}%>

          <%}%>

      </div>



  </form>

  
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="/index.js" charset="utf-8"></script>
<%- include("partials/footer") -%>
