<%- include("partials/header") -%>
<link rel="stylesheet" href="/login.css">
  </head>


  <body>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="heading">
              <img class="boat-image" src="https://media.giphy.com/media/3oz8xRQiRlaS1XwnPW/giphy.gif" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="wrapper fadeInDown config">
            <div id="formContent">

              <div class="fadeIn first">
                <h4>Buriavimo testas jau čia!</h4>
              </div>

                <form class="" action="<%= path %>" method="post">
                  <input type="text" id="login" class="fadeIn second" name="name" placeholder="vartotojo vardas" autocomplete="off">
                  <input type="text" id="password" class="fadeIn third" name="password" placeholder="slaptažodis" autocomplete="off">
                  <input type="submit" class="fadeIn fourth" value="<%= action %>">
                </form>

                <div class="">
                  <p class="incorrectInput"> <%= notice %> </p>
                </div>

                <div id="formFooter">
                  <a class="underlineHover" href="/register"><%= wantReg %></a>
                  <br>
                  <a class="underlineHover" href="#"><%= remindPass %></a>
                </div>

            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- <div class="introduction">
      <h1>Buriavimo testas internete</h1>

      <h3>Pasiruošk artėjančiam egzaminui!</h3>
    </div> -->

    <!-- LOG IN FORM -->

  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <script src="/index.js" charset="utf-8"></script>
  <%- include("partials/footer") -%>
